@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --yellow-100: #FFB700;
    --yellow-80: #FFC300;
    --yellow-60: #FFD000;
    --yellow-40: #FFDD00;
    --yellow-20: #FFEA00;
    --orange-100: #FF7B00;
    --orange-80: #FF8800;
    --orange-60: #FF9500;
    --orange-40: #FFA200;
    --orange-20: #FFAA00;
    --camel: #F9DBBD;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    height: 100%;
    padding: 0;
    margin: 0;
}

.fr-desc{
    font-size: 1.3rem;
}

.fr-title {
    color: var(--orange-100);
    text-align: center;
}

.fr-button {
    background-color: var(--yellow-100);
    border-radius: 1rem;
    color: black;
    width: auto;
    margin-top: 1rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
}


.fr-button:hover{
    background-color: var(--orange-100);
    border-radius: 1rem;
    color: white;
    width: auto;
    margin-top: 1rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
}

.fr-button:active{
    background-color: var(--orange-100);
    border-radius: 1rem;
    color: white;
    width: auto;
    margin-top: 1rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

.fr-center {
    display: flex;
    justify-content: center;
}

.mt-3 {
    margin-top: 1rem;
    text-align: right;
}

.fr-link {
    color: var(--orange-100);
}

.fr-link:hover{
    color: var(--yellow-100);
}

.fr-link:active{
    color: var(--yellow-100);
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


@media (max-width: 30rem) {
    .full-height {
        height: auto;
    }
    .center-content {
        padding: 0.625rem;
    }
    .fr-left, .fr-right {
        padding: 0.625rem;
        text-align: center;
    }
    .fr-left h1 {
        font-size: 1.5rem;
    }
    .fr-desc {
        font-size: 0.8rem;
    }
    .w-75 {
        width: 100% !important;
    }
    .fr-button {
        padding: 0.5rem 2rem;
    }
    form {
        text-align: left;
    }
    label {
        text-align: left;
        display: block;
    }
}

@media (max-width: 48rem) {
    .full-height {
        height: auto;
    }
    .center-content {
        padding: 1.25rem;
    }
    .fr-left, .fr-right {
        padding: 1.25rem;
        text-align: center;
    }
    .fr-left h1 {
        font-size: 2rem;
    }
    .fr-desc {
        font-size: 1rem;
    }
    .w-75 {
        width: 100% !important;
    }
    form {
        text-align: left;
    }
    label {
        text-align: left;
        display: block;
    }
}

@media (max-width: 64rem) {
    .full-height {
        height: auto;
    }
    .fr-left, .fr-right {
        padding: 1.25rem;
        text-align: center;
    }
    .fr-left h1 {
        font-size: 2.5rem;
    }
    .fr-desc {
        font-size: 1.2rem;
    }
    .w-75 {
        width: 85% !important;
    }
    form {
        text-align: left;
    }
    label {
        text-align: left;
        display: block;
    }
}

@media (min-width: 64rem) and (max-width: 75rem) {
    .fr-left, .fr-right {
        padding: 2.5rem;
    }
    .fr-left h1 {
        font-size: 3rem;
    }
    .fr-desc {
        font-size: 1.3rem;
    }
    .w-75 {
        width: 70% !important;
    }
    form {
        text-align: left;
    }
    label {
        text-align: left;
        display: block;
    }
}

@media (min-width: 75rem) {
    .fr-left, .fr-right {
        padding: 3.75rem;
    }
    .fr-left h1 {
        font-size: 3.5rem;
    }
    .fr-desc {
        font-size: 1.5rem;
    }
    .w-75 {
        width: 60% !important;
    }
    form {
        text-align: left;
    }
    label {
        text-align: left;
        display: block;
    }
}