.fr-left {
    background-color: var(--fromagia-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem;
}

.fr-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fr-title{
    margin-bottom: 2rem;
}