.notification-container {
    margin: 2rem auto;
    max-width: 60rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    top: 4rem;
}

.table {
    margin-bottom: 0;
}

.notification-actions {
    padding: 1rem;
    text-align: right;
}

#message{
    height: 5rem;
}